.App{
    min-height: 100vh;
    display: flex;
    /* background-image: url('./Components/Images/bakcgroundBlue.png'); */
    background-size:cover;
    background-position: center;
    background-color: #F8F9FB;
}